:root {
    --bianco: #ffffff;
    --grigioChiaro: #e0e0e0;
    --grigioStroke: #CDC3C3;
    --grigioScuro: #CECDCF;
    --strokeScura: #767676;
    --grigioScurissimo: #524D4D;
    --nero: #242121;
    --verdeAcqua: #5E8189;
    --verdino: #63895E;
    --rosso: #bd4b4b;
    --arancione: #d18a61;
}

/*---------------------------------------
    Main Sections
------------------------------------------*/
#main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#leftPart, #rightPart{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#leftPart {
    top: 0;
    width: fit-content;
    position: sticky;
    gap: 30px;
    padding-left: 35px;
}

#rightPart {
    flex-grow: 1; /* Riempie lo spazio rimanente */
    flex-direction: row;
    padding: 10% 5% 0;
}


/*---------------------------------------
    Left Part
------------------------------------------*/

#uP_logo{
    width: 250px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.goBack{
    position: relative;
    top: 20px;
    color: var(--grigioScurissimo);
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.goBack:hover{
    color: var(--strokeScura);
}

/*---------------------------------------
    Account Container
------------------------------------------*/

#accountContainer {
    width: 100%;
    height: fit-content;
    background-color: var(--bianco);
    border-radius: 50px 50px 0 0;
    padding: 3rem;
    margin-top: 2rem;
    margin-right: 4rem;
}

#aC_upper {
    width: 100%;
    height: 300px; /* SAREBBE DA CAMBIARE   */
    display: flex;
    flex-direction: row;
    padding: 0 0 2rem 0;
}

#aC_lower {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}


/*---------------------------------------
    Account Container - Upper
------------------------------------------*/

#aC_upper_image_section {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#aC_upper_data_section{
    flex-grow: 1;
    margin: 1rem;
    display: flexbox;
    align-content: center;
}

.account_input_text{
    padding: 5px;
    font-size: medium;
    outline: none;  /* Evita che si mostri il bordo quando si scrive nel box */
}

#aC_upper_image_section img {    
    transform: scale(0.6, 0.6);
}

/*---------------------------------------
    Account Container - Le tue immagini
------------------------------------------*/

.imageContainer{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: fit-content;
    background-color: chocolate;
}

.imageC_infos{
    flex-grow: 1;
    height: max-content;

    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #007bff;
}



#tabSelector {
    display: flex;
    gap: 10px;
}

.tabBtn {
    padding: 12px 20px;
    border: 2px solid var(--grigioChiaro);
    background: #ddd;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px 6px 0 0;
    transition: 0.3s;
    font-size: large;
}

.tabBtn.active {
    background: #fff;
    font-weight: bold;
    border-bottom: 3px solid #1a73e8;
}

.tabContent {
    display: none;
    opacity: 0;
}

.tabContent.active {
    display: flex;
    opacity: 1;
}

#sezioneFoto, #sezioneDownload, #sezioneAggiunta {
    border: 2px solid var(--grigioScuro);
    border-radius: 0 6px 6px 6px;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
}

#sezioneFoto img,
#sezioneDownload img {
    /* MANCA UN MODO PER MOSTRARE LE INFO ACCANTO ALLE IMMAGINI */
    width: 40%;
    margin: 10px;
    border: 1px solid var(--nero);
    border-radius: 6px;
    transition: 0.3s;
}

#sezioneFoto img:hover,
#sezioneDownload img:hover {
    transform: scale(1.05);
}




/* ---------------------------------------
   MODAL STILE
------------------------------------------*/

.modal {
    display: none; /* nascosto di default */
    position: fixed;
    z-index: 10;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.85);
  }
  
/* immagine dentro il modal */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
}
  
/* pulsante chiusura */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: var(--bianco);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
  
.close:hover {
    color: #bbb;
}

#modalInner {
    background: var(--bianco);
    box-shadow: 0 0 8px var(--grigioScurissimo);
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#modalInner img {
    width: 50%;
    height: fit-content;
}

#modalFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

#modalFields label {
    font-weight: bold;
    margin-top: 5px;
}

#modalFields input,
#modalFields select {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

#modalButtons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap
}

#saveBtn, #deleteBtn, #addBtn{
    flex: 1;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 17px;
    color: var(--bianco);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

/* BOTTONE SALVA */
#saveBtn {
    background-color: var(--verdino); 
}
#saveBtn:hover {
    background-color: #4f6e4c;
}

/* BOTTONE ELIMINA */
#deleteBtn {
    flex: 1;
    background-color: var(--rosso);
}
#deleteBtn:hover {
    background-color: #a33232;
}

/* BOTTONE AGGIUNGI */
#addBtn {
    background-color: var(--arancione);
}
#addBtn:hover {
    background-color: #c07246;
}
