* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}



/*---------------------------------------
    Main Sections
------------------------------------------*/
#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(122, 122, 57);
}

#upperPart, #lowerPart{
    display: flex;
    height: fit-content;
}

#upperPart {
    height: 65px;
    width: 100%;
    background-color: cadetblue;
}

#lowerPart {
    width: 100%;
    flex-grow: 1; /* Riempie lo spazio rimanente */
    background-color: coral;
}